@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?twmcev');
    src:    url('../fonts/icomoon.eot?twmcev#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?twmcev') format('truetype'),
        url('../fonts/icomoon.woff?twmcev') format('woff'),
        url('../fonts/icomoon.svg?twmcev#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-close:before {
    content: "\ea0d";
}
.icon-mail4:before {
    content: "\ea86";
}

/* Selector universal
* {
	width: tamaño; Ancho
	height: tamaño; Alto
	padding: 10px;   Margen interior al borde de 10px para todos los lados 
	padding-top: 10px; Margen superior
	padding-left: 15px; Margen izquierdo
	padding-right: 13px; Margen derecho 
	padding-bottom: 5px; Margen inferior 
	padding: 10px 13px 5px 15px; Margen con valor para todos los lados 
	margin: 10px;  Margen exterior al borde de 10px para todos los lados 
	margin-top: 10px; Margen superior
	margin-left: 15px; Margen izquierdo
	margin-right: 13px; Margen derecho 
	margin-bottom: 5px; Margen inferior 
	margin: 10px 13px 5px 15px; Margen con valor para todos los lados 
	border: 2px solid red;  borde a toda la pagina
}*/

body {
	font-family: 'Allerta', sans-serif; /* Fuente tomada de google fonts */
	margin: 0;
}

table {
	width: 100%; /* 100% coloca el ancho del padre */
}

th {
	background: #273b47;
	color: white;
	padding: 10px;
	text-align: left;
	padding-left: 20px;
}

td {
	padding: 20px;
}

table, td, th {
	border: 1px solid #273b47;
	border-collapse: collapse; /* Coloca el borde de una sola linea */
}

input, textarea {
	outline: 0; /* Quita el resaltado del campo de texto */
}

/* Pseudo clase */
input:focus, textarea:focus {
	background: lightgray; /* Color de fondo al input y textarea al hacer foco */
}

/* Clase utilitaria */
.contenedor {
	max-width: 800px;
	margin: auto; /* Centra la etiqueta */
	position: relative;
}

/* Clase utilitaria */
.background {
	background-image: url('../images/background.png'); /* Fondo de colores o imganes */
	background-size: cover; /* Coloca la imagen a todo el tamaño de la pagina */
}

/* Selector de clases */
.titulo {
	font-family: 'Montserrat', sans-serif; /* Fuente tomada de google fonts */
	font-size: 70px; /* Tamaño */
	margin-bottom: 0px;
	margin-top: 70px;
}

.titulo span {
	text-decoration: underline; /* Coloca un subrayado al texto de la etiqueta*/
}

.button {
	border-radius: 12px;
	background: #fd324e; /* Color de fondo */
	color: white; /* Coloca el color a la fuente */
	border: none; /* none desactiva el borde */
	padding: 7px 12px;
	cursor: pointer; /* Cambia el cursos al ponerse sobre el boton */
	text-decoration: none;
	font-size: 18px;
	background: linear-gradient(to left, #fe344e, #ff7250); /* Permite colocar un degradado de derecha a izuierda al boton con los colores seleccionados*/
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

.guitarras {
	color: #1F313C; /* Color se puede en hex, rgb, name, rgba */
	margin-bottom: 60px;
}

/* Selector descendente */
.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.portada {
	color: white;
	padding: 20px;
	height: 500px;
}

.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block; /* Permite colocar cada etiqueta en bloque y en linea */
	margin-left: 30px;
}

.menu li:before{ /* Coloca al li un pseudoelemento despues de el */
	content: '∘'; /* Contenido del pseudoelemento */
	font-size: 30px;
	line-height: 20px; /* Alto de linea */
	color: white;
}

/*.menu li:after{ Coloca al li un pseudoelemento antes de el
	content: '∘'; Contenido del pseudoelemento 
	font-size: 40px;
	line-height: 20px; Alto de linea 
}*/

.menu a {
	color: white;
	text-decoration: none;
}

.logotipo {
	display: inline-block;
	margin-left: 0;
}

.portada button {
	margin-bottom: 70px;
}

.guitarra {
	margin: 10px 10px 40px 10px;
	padding: 10px;
	/* overflow: hidden; Quita el desborde entre etiquetas */
	border: 1px solid #1F313C;
	border-radius: 8px; /* Permite colocar border redondos a las esquinas de la etiqueta */
	/* border-radius: 10px 60px 30px 80px; Permite colocar diferentes valores a cada esquinta de la etiqueta */
}

.guitarra ol {
	padding: 0;
}

.guitarra.b {
	height: 190px;
}

.derecha{
	float: right; /* Coloca una etiqueta en el lado que se desee */
	position: relative;
	top: -127px;
}

.izquierda {
	float: left;
	position: relative;
}

.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.header {
	position: relative;
}

.footer {
	background: #273b47;
	padding: 50px 10px;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap; /* Coloca los elementos en cada fila */
	align-items: center;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none; /* Quita la decoracion en este caso el subrayado al texto de la etiqueta */
	margin: 10px 10px 10px 0;
}

.footer .contenedor {
	display: flex; /* Coloca un elemento a lado del otro */
	justify-content: space-around; /* Coloca una margen entre los elementos */
}

.formulario {
	display: flex;
	width: 400px;
	color: white;
}

.col1, .col2 {
	display: flex;
	flex-direction: column; /* Coloca los elementos verticalmente */
}

.col1 {
	margin-right: 15px;
}

.col2 {
	align-items: flex-start;
}

.col2 .button {
	margin-top: 15px;
}

.intereses label {
	font-size: 12px;
}

.formulario label, .sexo, .interese {
	margin-bottom: 10px;
}

.sexo {
	margin-top: 10px;
}

.tabla {
	margin: 50px 0;
}

.burguer-button {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #395667;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 3;
}

/* Media querie con screen que es para pantalla y con and que es la condicion que se debe cumplir para que se ejecute ese media querie */
@media screen and (max-width: 800px) {
	/*body {
		border: 10px solid red;
	}*/

	/* .contenedor {
		width: auto; Coloca el ancho automaticamente 
		max-width: 800px; Coloca el maximo ancho al contenedor
	} */

	/* Portada */
	.titulo {
		font-size: 45px;
		margin-top: 30px;
	}

	.title-a {
		font-size: 18px;
	}

	.portada {
		height: auto;
	}

	.portada .button {
		margin-bottom: 30px;
		display: inline-block; /* Coloca el elemento en bloque para que tenga margen y adapta el ancho a su contenido */
	}
	/* Portada */

	/* Guitarras */
	.guitarras {
		text-align: center;
	}

	.izquierda, .derecha {
		float: none;
		position: static;
	}

	.title-b {
		margin: 0;
	}

	.guitarra li {
		list-style: none; /* Quita elementos de la lista como numeros o viñetas */
	}

	/* De esta forma se cumplen dos clases dentro de un mismo elemento */
	.guitarra.b {
		height: auto;
	}

	.contenedor-guitarra-b {
		position: static;
		margin: 0;
	}

	.contenedor-guitarra-a {
		padding: 0;
	}
	/* Guitarras */

	/* Footer */
	.footer .contenedor {
		justify-content: center;
	}
	/* Footer */	
}

@media screen and (max-width:767px) {
	/* Footer */
	.footer .contenedor {
		display: block;
	}
	.contacto {
		margin: 0 auto;
	}

	.formulario {
		display: block;
		margin: 0 auto;
		width: 300px;
	}

	.intereses label {
		display: block;
		font-size: 16px;
	}

	.col1 {
		margin: 0;
	}

	/* Selector de atributo Llama a una una segunda referencia de la etiqueta */
	input[type="text"],
	input[type="email"]{
		font-size: 16px;
		padding: 5px;
	}

	textarea {
		width: 100%;
	}

	input[type="radio"],
	input[type="checkbox"]{ 
		zoom: 1.5;
	}
	/* Footer */
}

@media screen and (max-width: 650px) {
	.header {
		text-align: center;
	}

	.logotipo {
		margin: 0;
	}

	.menu {
		position: static;
		display: block;
	}

	/* Afecta al primer li del menu */
	.menu li:first-child {
		margin: 0;
	}

	.menu ul {
		padding: 0;
	}
}

@media screen and (max-width: 500px) {
	/* Portada */

	.portada .contenedor {
		position: static;
	}

	.menu {
		background: rgba(255, 60, 88, .8);
		position: absolute;
		width: 100%;
		left: -100%; /* Esconde el menu a la izquierda */
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2; /* Posiciona el menu encima de todo */
		display: flex;
		align-items: center;
		transition: .3s;
	}

	.menu.active {
		left: 0;
	}

	.menu ul {
		flex: 1; /* Le dice que ocupe todo el ancho */
	}

	.menu li {
		display: block;
		margin: 0;
		padding: 8px 0;
		border-bottom: 1px solid white; /* Solo coloca borde abajo */
	}

	.menu li:before {
		display: none; /* Hace que el pseudoelemento se oculte */
	}

	.menu li:first-child {
		border-top: 1px solid white; 
	}

	.portada {
		text-align: center;
	}

	.titulo {
		font-size: 30px;
	}

	.title-a {
		font-size: 16px;
	}
	/* Portada */

	/* Guitarras */
	.guitarra img {
		width: 200px;
		/* height: auto; */
	}

	.title-b {
		font-size: 30px;
	}
	/* Guitarras */
}