/* Selector de clases */
.titulo {
	font-family: 'Montserrat', sans-serif; /* Fuente tomada de google fonts */
	font-size: 70px; /* Tamaño */
}

body {
	font-family: 'Allerta', sans-serif; /* Fuente tomada de google fonts */
}

.title-a {
	font-size: 24px;
}

.guitarras {
	color: #1F313C; /* Color se puede en hex, rgb, name, rgba */
}

/* Selector descendente */
.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.title-b {
	font-size: 50px;
}

.portada {
	background-image: url('../images/background.png'); /* Fondo de colores o imganes */
	color: white;
}

.menu {
	font-size: 24px;
}